<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather App</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/about.css">

</head>
<body>

    <div class="arrow">
        <a href="/home" class="b">
            <i class="uil hehe uil-arrow-left"></i>
        </a>
    </div>
  

    <section class="about section" id="about">
   
        <h2 class="section__title">&ltAbout Me&gt</h2>
        <span class="section__subtitle">My Introduction</span>
        <div class="about__container container grid">
            <img class="about__img" src="images/Polish_20221027_223524792 _1_-min (1).jpg" alt="about" />
            <div class="about__data">
                <p class="about__description">
                    <br> <br> As a full stack web developer, I have a deep understanding of both front-end and back-end web development. 
                    I have experience of creating user-friendly and responsive interfaces using <b style="color: rgba(0, 68, 255, 0.889);"> HTML, CSS </b>and<b style="color: rgba(0, 68, 255, 0.889);"> JavaScript </b>
                    and development of robust and scalable web applications using server-side frameworks like <b style="color: rgba(0, 68, 255, 0.889);">Node.JS</b>.
                    I have worked with database design and management like <span style="color: rgba(0, 68, 255, 0.889);">&lt/MongoDB&gt</span> and <span style="color: rgba(0, 68, 255, 0.889);">&lt/MS Sql&gt</span>   , and am able to create complex queries to retrieve and manipulate data</p>
               </p>
                <div class="about__info">
                    <div>
                        <span class="about__info-title">4 </span>
                        <span class="about__info-name">work<br> experience (months)</span>
                    </div>
                    <div>
                        <span class="about__info-title">5+</span>
                        <span class="about__info-name">Completed <br>Projects</span>
                    </div>
                    <div>
                        <span class="about__info-title">0</span>
                        <span class="about__info-name">Companies <br>Worked</span>
                    </div>
                </div>
                <div class="about__buttons">
                    <a class="button button--flex" download=""
                        href="https://github.com/asfiiiii">
                        Download Resume <i class="uil uil-download-alt button__icon"></i>
                    </a>
                    
                </div>
            </div>
        </div>
    </section>

</body>
</html>